#titleLabel {
	-fx-alignment: center;
	-fx-font-family: 'Apercu-Light';
	-fx-font-size: 45;
	-fx-text-fill: rgba(244, 244, 242, 1);
}
#copyrightLabel {
		-fx-font-family: 'Apercu-Light';
		-fx-font-size: 12;
		-fx-text-fill: rgba(51, 51, 51, 1);
}

.label {
	-fx-font-family: 'Apercu-Light';
	-fx-font-size: 25;
	-fx-text-fill: rgba(12, 80, 165, 1);
}
.radio-button {
	-fx-font-family: 'Apercu-Light';
	-fx-font-size: 25;
	-fx-text-fill: rgba(12, 80, 165, 1);
	-fx-border-color: transparent;
}

.button {
	-fx-font-family: 'Apercu';
	-fx-font-size: 20;
	-fx-text-fill: rgba(244, 244, 242, 1);
    -fx-border-radius: 3px;
    -fx-border-color: rgba(12, 80, 165, 1);
    -fx-background-color: rgba(12, 80, 165, 1);
}

.button:pressed, .button:hover {
    -fx-border-color: rgba(255, 214, 90, 1);
    -fx-background-color: rgba(255, 214, 90, 1);
    -fx-text-fill: rgba(244, 244, 242, 1);
}

.button:disabled, .button:default:disabled {
	-fx-opacity: 0.8;
}
