#titleLabel {
	-fx-alignment: center;
	-fx-font-family: 'Apercu-Light';
	-fx-font-size: 70;
}

#copyrightLabel {
	-fx-font-family: 'Apercu_Light';
	-fx-text-fill: rgba(51, 51, 51, 1);
}

#accountField, #passwordField {
	-fx-border-radius: 3px;
	-fx-border-color: rgba(12, 80, 165, 1);
	-fx-background-color: rgba(244, 244, 242, 0.3);
}

#passwordField, #accountField {
    -fx-font-family: 'Apercu';
    -fx-text-fill: rgba(82, 94, 94, 0.8);
}

#loginButton, #exitButton {
	-fx-font-family: 'Apercu';
	-fx-border-radius: 3px;
	-fx-border-color: rgba(12, 80, 165, 1);
	-fx-background-color: rgba(12, 80, 165, 1);
	-fx-font-size: 18;
	-fx-text-fill: rgba(244, 244, 242, 1);
}

#loginButton:pressed, #loginButton:hover, #exitButton:pressed, #exitButton:hover {
    -fx-border-color: rgba(245, 104, 97, 1);
    -fx-background-color: rgba(245, 104, 97, 1);
    -fx-text-fill: rgba(244, 244, 242, 1);;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.8;
}