#titleLabel {
	-fx-alignment: center;
	-fx-font-family: 'HelveticaNeue LT 25 UltLight';
	-fx-font-size: 60;
}

#copyrightLabel {
		-fx-font-family: 'HelveticaNeue LT 45 Light';
		-fx-font-size: 12;
		-fx-text-fill: black;
}

.label {
	-fx-font-family: 'HelveticaNeue LT 45 Light';
	-fx-font-size: 25;
	-fx-text-fill: rgba(0, 102, 153, 1);
}

.button {
	-fx-font-family: 'HelveticaNeue LT 45 Light';
	-fx-font-size: 25;
	-fx-text-fill: rgba(0, 102, 153, 1);
	-fx-border-radius: 3px;
    -fx-border-color: rgba(0, 102, 153, 1);
    -fx-background-color: rgba(255, 255, 255, 0.5);
    -fx-alignment: center;
}

.button:pressed, .button:hover {
    -fx-background-color: rgba(0, 102, 153, 1);
    -fx-text-fill: white;
}
