.label {
    -fx-font-family: 'HelveticaNeue LT 45 Light';
    -fx-font-size: 15;
}

.button {
    -fx-font-family: 'HelveticaNeue LT 45 Light';
    -fx-font-size: 15;
    -fx-border-radius: 3px;
    -fx-border-color: rgba(0, 102, 153, 1);
    -fx-background-color: rgba(255, 255, 255, 0.5);
}

.button:pressed, .button:hover {
    -fx-background-color: rgba(0, 102, 153, 1);
    -fx-text-fill: white;
}

#terminateButton0, #terminateButton1, #terminateButton2 {
    -fx-border-color: rgba(150, 0, 0, 1);
    -fx-background-color: rgba(255, 255, 255, 0.5);
}

#terminateButton0:pressed, #terminateButton1:pressed, #terminateButton2:pressed,
#terminateButton0:hover, #terminateButton1:hover, #terminateButton2:hover {
     -fx-background-color: rgba(150, 0, 0, 1);
}