.label {
    -fx-font-family: 'Apercu-Light';
    -fx-font-size: 25;
    -fx-text-fill: rgba(12, 80, 165, 1);
}

.button {
    -fx-font-family: 'Apercu';
    -fx-font-size: 25;
    -fx-text-fill: rgba(244, 244, 242, 1);
    -fx-border-color: rgba(12, 80, 165, 1);
    -fx-background-color: rgba(12, 80, 165, 1);
}

.button:pressed, .button:hover {
    -fx-border-color: rgba(245, 104, 97, 1);
    -fx-background-color: rgba(245, 104, 97, 1);
    -fx-text-fill: rgba(244, 244, 242, 1);;
}

#terminateButton0, #terminateButton1, #terminateButton2 {
    -fx-text-fill: rgba(244, 244, 242, 1);
    -fx-border-color: rgba(245, 104, 97, 1);
    -fx-background-color: rgba(245, 104, 97, 1);
}

#terminateButton0:pressed, #terminateButton1:pressed, #terminateButton2:pressed,
#terminateButton0:hover, #terminateButton1:hover, #terminateButton2:hover {
    -fx-border-color: rgba(245, 104, 97, 1);
    -fx-background-color: rgba(245, 104, 97, 1);
    -fx-text-fill: rgba(244, 244, 242, 1);;
}